@media screen and (max-width: 2500px) {

.menu__btn {
	display: none;
}

}
  

@media screen and (max-width: 1200px) {

.menu_item__constant {
	display: none;
} 

.menu__btn {
	display: block;
} 

.move_answer {
	background-size: 83% 100%;
}

#property {
    height: 940px;
}


#property h2 {
    margin: 60px auto;
}

.property_choice, .property_servic {
    width: 80%;
    left: 10%;
}

.property_choice {
    top: 290px;
}

.property_servic {
    padding: 50px 0px 10px 0px;
}

.kind_one {
    top: 220px;
}  

.kind_two {
   top: 226px;
}

.kind_three {
   top: 160px;
}

.wheel {
   top: 540px;
}

.discover {
   top: 780px;
}



#reviews {
    padding:40px 0px 60px 0px;
}

.photo {
    max-width: 60%;
}

.reviews_text  {
    font-size: 0.9rem;
    letter-spacing: 0.06em;
    margin-left: 0px;
}

.client  {
	margin-left: 20px;
}


.backwards {
	position: absolute;
	top: 0;
	left: -20px;
}

.adv_item {
	
	margin-bottom: 30px;
}

.forward {
	position: absolute;
	top: -200px;
	right: 20px;
}

input, button {
	width: 60%;
}

.dialog {
	display: none;
}

}



@media screen and (max-width: 992px) {
 

    .contacts_icon {
	    margin-left: ;
}

    .banner h1 {
	    margin-top: 18%;
}

    .banner span {
	    letter-spacing: 0.25em;
	    font-size: 5.0rem;
}


#advan h2 {
    padding: 40px 0 0 0;
	font-size: 2.8rem;
}


    .move_blockquote h2 {
	    font-size: 2.8rem;
}


    .move_question {
	    background-size: 100% 100%;
}

    .circ {
	    top: -12px;
}

    .move_answer {
	    background-size: 100% 100%;
}

    .move_answer p {
        font-size: 1.2rem;
}



#property h2 {
	font-size: 2.8rem;
	margin-bottom: 20px;
} 

    .property_choice, .property_servic {
        width: 100%;
        left: 0;
}

    .kind_one {
        top: 220px;
        left: 24%;
}  

    .kind_two {
        top: 226px;
        left: 50%;
}

    .kind_three {
        top: 170px;
        left: 33%;
}

    .property_choice {
        top: 290px;
}

    .property_servic {
        padding: 50px 0px 10px 0px;
}

    .wheel {
        top: 544px;
}

    .discover {
        top: 780px;
}



#reviews {
	padding: 40px 0px 20px 0px;
}

#reviews  h2 {
	font-size: 2.8rem;
    margin-bottom: 30px;
} 

    .item img {
	    width: 14%;
} 

    .client {
	    margin-left: 0px;
}

    .part {
	    width: 98%;
}

    .discover {
	    right: 33%;
}

    .photo {
	    margin-top: 10%;
        margin-left: 10%;
	    max-width: 100px;
	    max-height: 100px;
}

    .carousel-caption {
        left: 24%;
        padding-bottom: 60px;
}

    .reviews_text {
        margin-left: 20px;
        font-size: 0.9rem;
        letter-spacing: 0.04em;
        width: 100%;
}

    .client_name, .client_travel {
        font-size: 1.0rem;
}

    .client_vk {
        font-size: 0.9rem;
        margin: 0 5px;
}

    .photo {
         margin-top: 6%;
}

    .consultation h2 {
	    font-size: 2.8rem;
}

    .backwards {
	    position: absolute;
	    top: 0;
	    left: -20px;
}

    .forward {
	    position: absolute;
	    top: -200px;
	    right: 20px;
}

    .protection{
	    font-size: 0.9rem;
}

    .protection_politic {
	    display: none;
}

}



@media screen and (max-width: 768px) {

    .banner h1 {
	    margin-top: 22%;
}

    .contacts_phone {
        font-size: 0.94rem;
        margin-top: 12px;
        padding-left: 0px;
}


#advan {
	padding: 40px 0px 10px 0px;
}

    .adv_item {
        height: 320px;
    }

#moving {
	padding-top: none;
}

	.move_blockquote h2 {
		font-size: 2.8rem;
}

    .adv_text {
        font-size: 1.0rem;
}

    .question  {
        font-size: 1.5rem;
        letter-spacing: 0.01em;
}

    .question span {
        font-size: 1.3rem;
}

    .move_answer p {
    	font-size: 1.0rem;
        letter-spacing: 0.02rem;
}


#property h2 {
   font-size: 2.8rem;
}

    .kind_one {
        top: 220px;
        left: 24%;
}  

    .kind_two {
        top: 226px;
        left: 50%;
}

    .kind_three {
        top: 170px;
        left: 33%;
}

    .property_choice {
        top: 290px;
}

    .property_servic {
        padding: 50px 0px 10px 0px;
}

    .wheel {
        top: 550px;
}

    .property_choice p, .property_servic p {
       font-size: 1.1rem;
       color: #000;
       letter-spacing:0.01em;
}

    .property_choice br, .property_servic br {
       display: none;
}



#reviews  h2 {
   font-size: 2.8rem;
   letter-spacing: 0.001em;
} 

    .item {
        height: 220px;
} 

    .photo {
        margin-top: 6%;
        margin-left: 10%;
        max-width: 100px;
        max-height: 100px;
}

    .carousel-caption {
        left: 20%;
        padding-bottom: 20px;
}

    .shortly {
        padding-bottom: 60px;
}


    .client_name {
	    font-size: 0.9rem;
}

    .client_vk {
	    font-size: 0.8rem;
	    margin-right: 5px;
	    margin-left: 5px;
}

    .client_travel {
	    font-size: 0.9rem;
}

    .reviews_text {
	    width: 100%;
	    font-size: 0.85rem;
	    margin-left: 0px;
}

    .client_travel {
        display: none;
}

    .discover {
       top: 790px;
       right: 30%;
}

    .forward {
	    position: absolute;
	    top: -214px;
	    right: 20px;
}

    input, button {
	    width: 80%;
}

    .protection {
        padding-top: 46px;
}

    .protection_politic {
	    display: none
}

    .dialog_phone {
        padding-top: 44px;
    }

}


@media screen and (max-width: 600px) {
    
    .contacts_phone {
        font-size: 0.85rem;
        margin-top: 14px;
    }

}


@media screen and (max-width: 576px) {

    .banner h1 {
        margin-top: 29%;
}


    .logo {
	    width: ;
	    height: 60px;
}

    .banner span {
	    letter-spacing: 0.1em; 
	    font-size: 3.6rem;
}

    .banner h1 {
	    font-size: 2.6rem;
	    letter-spacing: 0.1em;
}



#advan h2 {

	letter-spacing: 0.01em;
	font-weight: 800;
	font-size: 2.0rem;
}

    .adv_img__authentisiti, .adv_img__reliabiliti, .adv_img__competence  {
	    width: 100%;
	
}

	.move_blockquote h2 {
		font-size: 2.9rem;
}

    .move_answer p {
    	font-size: 1.0rem;
        letter-spacing: 0.02em;
}

    .question  {
    	padding-top: 50px;
        font-size: 1.4rem;
        letter-spacing: 0.01em;
}

    .question span {
        font-size: 1.2rem;
}



#property h2 {
    margin-bottom: 0px;
    font-size: 2.0rem;
}

#property h3 {
	font-size: 1.2rem;
}

    .kind_one {
        top: 200px;
        left: 24%;
}  

    .kind_two {
        top: 206px;
        left: 54%;
}

    .kind_three {
        top: 140px;
        left: 33%;
}
	
    .property_choice {
	    top: 280px;
}

    .property_servic {
	    top: 560px;
}

    .property_choice p, .property_servic p {
        font-size: 1.2rem;
        color: #000;
        letter-spacing:0.01em;
}

    .wheel {
	    top: 560px;
	    left: 42%;
}

    .discover {
        top: 816px;
        right: 30%;
}

    .client  { 
	    text-align: ;
	    display:  inline-block;
	    margin: 5px auto;
}

    .client_vk {
	    padding-top: 10px;
	    padding-top: 10px;
	    font-size: 0.7rem;
}

    .client_name, .client_travel {
	    font-size: 0.8rem;
}


    .reviews_text {
	    margin-top: 20px; 
}


    .logo_img {
	    display: inline-block;
	    float: left;
}


    .protection {
	    display: inline-block;
        float: left;
}

    .protection_politic {
	    display: none;
}


    .contacts {
	    display: none;
}
    
    .client  {
	    text-align: right;
	    display:  inline-block;
}

}



@media screen and (max-width: 545px) {

    .contacts {
	    display: none;
}

    .banner h1 {
	    margin-top: 40%;
	    font-size: 2.0rem;
}

    .banner span {
	    font-size: 2.8rem;
	    letter-spacing: 0.2em;
} 

    .kind_one {
	    left: 20%;
}

    .kind_two {
	    right: none;
        left: 50%;
}

    .kind_three {
        left: 30%;
}

    .wheel {
        top: 526px;
        left: 43%;
}

    .discover {
        top: 770px;
        left: 28%;
}

    .move_blockquote h2 {
        font-size: 2.2rem;
}


    .question {
        font-size: 1.2rem;
}


#property p {
   font-size: 1.0rem;
} 

    .property_servic p {
        padding: 0px 0px 30px 0px;
}



    .item {
        height: 240px;
    }

    .carousel-caption {
        margin: 0;
    }

    .client_name, .client_travel {
        margin-bottom: 0;
    }

    .shortly {
        padding-top: 60px;
}

    .photo {
        margin-left: 6%;
}

    em {
        font-size: 0.8rem;
}



#consultation h2 {
	font-size: 2.4rem;
}

    .protection {
        text-align: right;
        padding-top: 48px;
}

}


@media screen and (max-width: 500px) {

#first {
	height: 500px;
}

.banner h1 {
	margin-top: 20%;
}


#advan h2 {
    padding: 0;
}


    .banner span {
        font-size: 2.5rem;
}

    .question {
        padding-top: 40px;
} 


#property {
	height: 940px;
}

#property h2 {
	margin-bottom: 20px;
	font-size: 1.6rem;
}

    .kind_one {
	    left: 9%;
}

    .kind_two {
        left: 58%;
}

    .kind_three {
	    left: 28%;
	    top: 120px;
}

    .property_choice {
          top: 260px;
    }

    .property_choice  {
        font-size: 0.8rem;
}

    .property_choice br {
	    display: none;
}

    .property_servic {
        top: 600px;
}

    .property_servic  {
	     font-size: 0.8rem;
}

    .wheel {
        top: 552px;
}

    .discover {
        top: 794px;
        left: 25%;
    }

    .shortly {
        margin-top: 0;
        padding: 10px;
    }


    .order_cons {
        font-size: 0.8rem;
        border-radius: 12px;
}

    .protection {
        display: none;
}

}


@media screen and (max-width: 430px) {
    
#property {
    height: 1060px;
}

.kind_three {
  left: 27%;
}


#reviews {
    padding: 0;
}

    .item {
        height: 280px;
}    

    .property_choice {
        top: 270px;
}

    .property_servic {
        top: 640px;
}

    .wheel {
        top: 584px;
}

    .discover {
        top: 860px;
        left: 22%;
        width: 180px;
        height: 30px;
        padding-top: 2px;
}


}



@media screen and (max-width: 390px) {

    #reviews {
        display: none;
}

#property {
    height: 940px;
}

    #property p {
        font-size: 0.9rem;
}

    .kind_one {
        position: absolute;
        z-index: 4;
        left: 6%;
        top: 200px;
}  

    .kind_two {
        position: absolute;
        z-index: 4;
        right: 35%;
        top: 206px;
}

    .kind_three {
        left: 25%;
        top: 150px;
}


    .discover {
        top: 840px;
        left: 19%;
}



}



@media screen and (max-width: 300px) {


    .kind_one {
        left: 0%;
}

    .kind_two {
        left: 50%;
}

    .kind_three {
        left: 14%;
}

    .property_choice, .property_servic p {
        font-size: 0.7rem;
}

    .wheel {
        top: 600px;
}

    .discover {
        top: 850px;
        left: 12%;
}



}