@media screen and (max-width: 2500px) {
   
   .menu__btn {
    display: none;
}

}


@media screen and (max-width: 1200px) {

.menu__btn {
    display: block;
}

nav {
    display: none;
}

.menu {
    display: none;
}
.contacts {
    float: right;
}

.banner h1 {
	margin-top: 12%;
    font-size: 3.6rem;
}


.box, .dept, .principles {
	position: static;
}

.services_item {
	margin-left: 0px;
	width: 100%;
}

#connection,  #cell, #partners {
	background: #fff;
	position: static;
}

#consultation input, button {
	width: 60%;
}

.dialog {
    display: none;
}

}


@media screen and (max-width: 992px) {

.variants {
    width: 100%;
}


.tote {
	width: 100%;
}

}



@media screen and (max-width: 768px) {

.banner h1 {
    padding-top: 8%;
}

#cell {
	height: 1060px;
}

.variants {
    background: url(../img/variants.png) no-repeat top center;
    padding-top: 40%;
    padding-left: 0;
    width: 100%;
    height: 300px;
    margin: 30px auto;
}

.variants_text {
    padding-top: 10px;
    width: 100%; 
}


.tote {
    background: url(../img/tote.png) no-repeat top center;
    padding-top: 60%;
    padding-right: 0;
    width: 100%;
    margin: 10px auto;
    height: 200px;
}

.tote_text {
	padding: 10px 0;
}

.protection_politic {
    display: none;
}

.protection {

}


}


@media screen and (max-width: 635px) {

    .contacts_phone {
        font-size: 0.85rem;
        margin-top: 26px;
}

    .menu__btn {
        top: 34px;
    }

}


@media screen and (max-width: 576px) {

   
.contacts {
   	display: none;
}

#first h1 {
    font-size: 2.6rem;
    letter-spacing: 0.1em;
    padding-top: 10%;
}

h2 {
    font-size: 2.4rem;
}

.variants {
    padding-top: 40%;
}

.tote {
   padding-top: 70%;
}

#consultation input, button {
	width: 80%;
}

.protection {
    display: none;
}

}



@media screen and (max-width: 430px) {

#cell {
     height: 1120px;
} 
.variants {
    padding-top: 64%;

}

.tote {
   padding-top: 98%;
    
}

}

.banner h1 {
    font-size: 1.8rem;
    letter-spacing: 0.1em;
}

.variants_text, .tote_text {
    font-size: 1.0rem; 
    padding-top: 10px;
}



}