@media screen and (max-width: 2500px) {

.menu__btn {
	display: none;
}

}

@media screen and (max-width: 1200px) {

.menu {
	display: none;	
	}

.menu__btn {
	display: block;
} 

nav {
    display: none;
}

.contacts_icon {
	margin-left: 12%;	
}

.box, .dept, .principles {
	position: static;
}

.services_item {
	margin-left: 0px;
	width: 100%;
}

#connection,  #cell, #partners {
	background: #fff;
	position: static;
}

.forms {
	width: 45%;
}

.dialog {
	display: none;
}

.protection {
	padding: 40px 0;
	margin-bottom: 0;
}


}


@media screen and (max-width: 992px) {

#connection {
	
}

.contacts_icon {
	margin-left: 2%;	
}

.box, .dept, .principles {
	position: static;
}

.services_item {
	margin-left: 0px;
	width: 100%;
}

.services_text {
   font-size: 1.10rem;
}
.dialog {
	display: none;
}

.protection {
	font-size: 0.9rem;
	text-align: center; 
}

}



@media screen and (max-width: 768px) {

#connection,  #cell, #partners {
	height: 100%;
}

.contacts {
	display: none;
}

.banner {
	margin-top: 25%;
}

.banner h1 {
	letter-spacing: 0.1em; 
	font-size: 3.2rem;
}

.box_text {
	letter-spacing: 0.05em;
}

.services {
	float: none;
	display: block;
	width: 100%;
	margin-top: 0px;
}

.services_item {
    width: 100%;
    padding-top: 60px;
    padding-left: 0;
    text-align: center;
}

.services_item_phone {
	background: url(img/phone-number.png) no-repeat top center;
}


.services_item_email {
    background: url(img/mail.png) no-repeat top center;
}

.services_item_skype {
    background: url(img/skype.png) no-repeat top center;
}

.forms {
	padding: 20px 0px 40px 0px;
	width: 100%;
	margin: 0;
}

#footer {
	margin-top: 40px;
}


}


@media screen and (max-width: 576px) {


.banner h1 {
	font-size: 2.8rem;
}

.protection {
    display: none;
}



}