@media screen and (max-width: 2500px) {

.menu__btn {
  display: none;
}

}

@media screen and (max-width: 1200px) {

.desktop-menu {
   display: none;
}

.menu__btn {
  display: block;
}

#consultation input, button {
	width: 80%;
}

.logo  {
	float: left;
}

.contacts {
    float: right;
}

.dialog {
	display: none;
}

}




@media screen and (max-width: 992px) {

.banner h1 {
	margin-top: 16%;
}

.box, .dept, .principles {
	position: static;
}



#reliability {
    background: #fff;
    height: 400px;
}
.indention_three {
	font-size: 2.0rem;
	line-height: 1.45em;
}

.principles_text br {
	display: none;
	text-align: justify;
}

.indention {
	width: 100%;
}

.indention_two {
	margin-left: 4%;
    margin-right: 4%;
}

.indention_three {
    width: 32%;
}

.alacrity {
	width: 100%;
}


#partners {
	background: #fff;
}

.part_igor, .part_victor{
	margin-left: 1%;
    padding-top: 30%;
	width: 48%;
}

.speech_igor br, .speech_victor br {
    display: none;
    padding-right: 2%;
    padding-left: 2%;
}

.speech_igor, .speech_victor {
    padding-right: 2%;
    padding-left: 2%;
}

#consultation {
   height: 720px;
}

}




@media screen and (max-width: 768px) {

.contacts {
	display: none;
}

#reliability {
	height: 580px;
}

.principles {
	height: 470px;
}

.indention_one, .indention_two, .indention_three {
    display: block;
    float: none;
    width: 100%;
    letter-spacing: 0.2em;
}

.indention_one span {
	letter-spacing: 0.22em;
}

.indention_two {
    letter-spacing: 0.6em;
    padding-top: 15px;
    margin: 30px 0;
}

.indention_three {
    letter-spacing: 0.14em;
}

.alacrity {
	margin-top: 30px;
	letter-spacing: 0.14em;
}


#partners {
    height: 1380px;
}

.part_dubble {
	height: 1040px; 
}

.part_igor, .part_victor {
	width: 100%;
	display: block;
	float: none;
	margin-bottom: 10px;
	padding-top: 40%;
}


.speech_igor, .speech_victor {
	padding: 0 10%;
}

.part_name {
    margin-top: 48px;
}
#consultation input, button {
	width: 100%;
}

.protection_politic {
	display: none;
}


}


@media screen and (max-width: 576px) {

#partners {
    height: 1400px;
}

.protection {
	display: none;
}


}


@media screen and (max-width: 538px) {

#first h1 {
	margin-top: 25%;
	letter-spacing: 0.15em; 
	font-size: 2.4rem;
}

h2 {
  font-size: 2.2rem;
}

.alacrity {
	
}

#reliability {
   height: 680px;  
}

#partners {
    height: 1420px;
}

.part { 
	height: 80px;
	padding-top: 0px;
}


.principles {
    height: 400px;
}


.part_igor {
   height: 700px;
   padding-top: 50%;
}

.part_victor {
   height: 580px;
   padding-top: 50%;
}

#consultation {
	height: 800px;
}

#consultation h2 {
    font-size: 2.6rem;
}


}



@media screen and (max-width: 300px) {

	.banner h1 { 
	   font-size: 2.5rem;
}
    
    .indent_one span {
	   font-size: 2.2rem;
}

    .indent_two {
       font-size: 1.05rem;
}

    .indent_three {
       font-size: 1.05rem;
}

    .alacrity {
	   font-size: 1.35rem;
}

#reliability {
  height: 760px;
}


#partners {
    height: 1430px;
}

    .part_name {
       margin: 20px 0;
}

    .part_igor {
       background: #f4f4f4 url(../img/igor-circle.png) no-repeat center 4px;
       padding-top: 60%;
       height: 720px;
}

    .part_victor {
	   background: #f4f4f4 url(../img/isaac-circle.png) no-repeat center 24px;
       padding-top: 64%;  
}

    .part {
       font-size: 1.8rem;
       padding-top: 0px;
    }


}